@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.registration-page {
  width: 440px;
  padding: 3% 0 0;
  margin: auto;
}
.form {
  position: relative;
  height: 620px;
  z-index: 1;
  background: #f3dff5;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.input-box input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  padding-top: 25px;
  background: #ffffff;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 0 20px 0 rgba(224, 220, 220, 0.2),
    0 5px 5px 0 rgba(105, 101, 101, 0.24);
}
.gen-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #942994;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(224, 220, 220, 0.2),
    0 5px 5px 0 rgba(105, 101, 101, 0.24);
  letter-spacing: 1.5px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #9d2dac;
}
.form h1 {
  color: #7a7777;
  font-size: 26px;
  padding-top: -10px;
  padding-bottom: 15px;
  font-weight: 40px;
  display: inline-block;
  position: relative;
}
.form h2 {
  color: #7a7777;
  font-size: 20px;
  padding-bottom: 12px;
  font-weight: 10px;
  display: inline-block;
  position: relative;
  left: -15px;
}
.form .message {
  margin: 15px 0 0;
  color: #696666;
  font-size: 12px;
}
.form .message a {
  color: #af4caa;
  text-decoration: none;
  font-size: 15px;
}
.forgot-pass a {
  text-align: left;
  font-size: 13px;
  color: #696666;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  background: -webkit-linear-gradient(to right, #9796f0, #8de2f1);
  background: linear-gradient(to right, #9796f0, #8de2f1);
}
